
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

header {
    width: 100%;
    height: 15vh;
    border: 2px solid #00963e;
    text-align: center;
    background-color: #00963e;
    color: #fff;
    padding: 20px;
}

.container {
    width: 100%;
    height: 70vh;
    display: flex;
}

nav {
    width: 200px;
    height: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
    margin-top: 130px;
}

nav li {
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.content {
    flex: 4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu {
    background-color: #00963e; 
    color: #fff; 
    text-align: center;
    padding: 20px;
}

.menu h2 {
    margin-bottom: 20px; 
}

.content2 {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    padding: 20px;
}

.menu-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    width: 35%; 
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; 
}

.menu-item img {
    max-width: 100%;
    border-radius: 5px;
}

.price {
    font-weight: bold;
    color: #00963e;
}


footer {
    width: 100%;
    height: 15vh;
    border: 2px solid #00963e;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-top: auto; 
    
}

footer p {
    text-decoration: none;
    color: #00963e; /* Warna teks link */
    transition: color 0.3s; /* Efek transisi warna teks saat hover */
}

footer p:hover {
    color: #fff; /* Warna teks saat hover */
}
